.delete-container{
	margin-bottom: 60px;
	>h1{
		font-size: 20px;
		font-weight: bold;
	}
	>.create-btn{
		margin-top: 30px;
		>a{
			&:first-child{
				margin-right: 20px;
			}
		}
	}
}