.detail-container{
	margin-bottom: 60px;

	p{
		margin: 0;
	}

	>.detail-header {
		display: flex;
	    align-items: center;
		>h1{
			font-size: 20px;
			font-weight: bold;
		}
		>div{
			margin-left: auto;
			>a >i{
				color: #777;
			}
		}
	}
	>.row{
		>.input-field{
			input{
				margin: 5px 0 10px;
				box-sizing: border-box;
				padding: 5px 10px;
				border: 1px solid transparent;
				color: #333;
				transition: none;
				&.vali-error{
					position: relative;
					background: #fc020212;
					border: 1px solid #d10000;
				}
			}
			>.vali-error-txt{
			    color: #f50000;
			}
		}
	}
	>.update-btn{
		margin-top: 30px;
	}
}