@import 'index';
@import 'detail';
@import 'create';
@import 'delete';

$content-width: 940px;

header{
	>nav{
		>.nav-wrapper{
			max-width: $content-width;
			margin: 0 auto;
			>a{
				font-size: 24px;
			}
		}
	}	
}
main{
	max-width: $content-width;
	min-height: 470px;
	margin: 0 auto;
}
footer{

}