<script type="text/template" id="delete">
	<section class="delete-container">
		<h1>Post Delete</h1>
		<table class="highlight">
			<thead>
			  <tr>
			      <th>id</th>
			      <th>title</th>
			      <th>body</th>
			  </tr>
			</thead>
			<tbody id="userList"></tbody>
		</table>
		<div class="delete-btn">
			<a class="waves-effect waves-light btn grey" href="../app/#">back</a>
			<a class="waves-effect waves-light btn red lighten-2" href="#create">delete</a>
		</div>
	</section>
</script>